/* Estilos globais */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://img.freepik.com/vetores-gratis/fundo-escuro-abstrato-com-formas-geometricas_52683-21591.jpg?t=st=1732075919~exp=1732079519~hmac=553a4a5bd8c5f66008ffec0851238fc0b4fa506657f68e05b93f5d46b74295a0&w=1060'); /* Imagem externa */
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Fixa a imagem ao fundo */
    color: #1d04ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

/* Filtro de cor no fundo */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 0, 0, 0.5); /* Cor preta semi-transparente */
    z-index: -1; /* Coloca a camada de filtro abaixo do conteúdo */
}

/* Estilos do container principal */
.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro transparente */
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

/* Estilo do botão */
button {
    background: #1c1c1c;
    color: #e1dfed;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    transition: background 0.3s;
}

button:hover {
    background: #20049e;
    color: #ede2e2;
}

/* Título */
h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Estilo das opções de resposta */
#opcoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 600px) {
    #opcoes {
        grid-template-columns: 1fr;
    }

    h2 {
        font-size: 24px;
    }
}
